<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anketa o jídle</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1>Anketa o jídle</h1>
    <form action="/submit" method="post" class="form-container">
        <div>
        
            <label for="food">Slané nebo sladké?</label><br>
            <input type="radio" id="slane" name="food" value="Slané">
            <label for="slane">Slané</label>
            <input type="radio" id="sladke" name="food" value="Sladké">
            <label for="food">Sladké</label><br>
        </div>

    <div>
        <label for="favfood">Jaké je tvoje nejoblíbenější jídlo?</label><br>
        <input type="text" id="favfood" name="favfood">
       
    </div>

    <div>
        <label for="spice">Jak moc máš rád/a pálivé? (0 = nesnáším to)</label><br>
        <input type="range" id="spice" name="spice" min="0" max="5" step="1">
        <span id="hodnota"></span>
    </div>

   

    <button type="submit">Odeslat odpověď</button>
</form>
</body>
<script>
    const slider = document.getElementById('spice');
    const output = document.getElementById('hodnota');
    output.innerHTML = slider.value; // Zobrazit výchozí hodnotu
    
    slider.oninput = function() {
        output.innerHTML = this.value;
    }
    </script>
</html>